/**
 * Columns
 */
.be-one-half {
	width: 48%;
}

.be-one-third {
	width: 30.66%;
}

.be-two-third {
	width: 65.33%;
}

.be-one-fourth {
	width: 22%;
}

.be-three-fourth {
	width: 74%;
}

.be-one-fifth {
	width: 16.8%;
}

.be-two-fifth {
	width: 37.6%;
}

.be-three-fifth {
	width: 58.4%;
}

.be-one-sixth {
	width: 13.33%;
}

.be-one-half,
.be-one-third,
.be-two-third,
.be-three-fourth,
.be-one-fourth,
.be-one-fifth,
.be-two-fifth,
.be-three-fifth,
.be-one-sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 2em;
	float: left;
	box-sizing: border-box;
}

.be-column-last {
	margin-right: 0!important;
	clear: right;

	&::after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}
