/**
 * Highlight
 */
.be-highlight-yellow,
.be-highlight-yellow a {
	background-color: #FFF7A8;
	color: #695D43;
}

.be-highlight-blue,
.be-highlight-blue a {
	color: #5091b2;
	background: #e9f7fe;
}

.be-highlight-green,
.be-highlight-green a {
	color: #5f9025;
	background: #ebf6e0;
}

.be-highlight-red,
.be-highlight-red a {
	color: #de5959;
	background: #ffe9e9;
}

.be-highlight-gray,
.be-highlight-gray a {
	color: #666;
	background: #f9f9f9;
}
